<div class="row">
  <span><h2><%= @user.name %></h2></span>
  <% if not current_user.is_relative? @user and current_user.id != @user.id %>
  <span><%= link_to "add", "/friendships?user_id=#{current_user.id}&relative_id=#{@user.id}", method: "post", class:"button tiny" %></span>
  <% elsif current_user.id != @user.id %>
  <span><%= link_to "remove", "/friendships?user_id=#{current_user.id}&relative_id=#{@user.id}", method: "delete", class:"button tiny alert" %></span>
  <% end %>
  <% if current_user.id != @user.id %>
  <button id="addBtn" class="button tiny">Add with Javascript</button>
  <% end %>
</div>
<div class="row">
  <h3>Friends</h3>
  <% @user.relatives.each do |relative| %>
    <%= link_to relative.name, "/pages/#{relative.id}", class:"button tiny" %>
  <% end %>
</div>
<div class="row">
  <h3>Commentaires</h3>
  <% @user.walls.each do |wall| %>
  <%= link_to wall.user.name, "/pages/#{wall.user.id}", class:"button tiny alert" %>
  <%= link_to wall.relative.name, "/pages/#{wall.relative.id}", class:"button tiny" %>
  <%= link_to "DELETE", "/walls/#{wall.id}", method: "delete", class:"button tiny secondary" %>
</div>
<div class="row">
  <div class="large-12 columns wall-body">
    <%= wall.body %>
  </div>
  <% end %>
</div>
<% if current_user.is_reverse_relative? @user or current_user.id == @user.id%>
<div class="row">
  <div class="large-12 columns">
    <%= form_tag "/walls", method: "post" do %>
    <%= hidden_field_tag :relative_id, @user.id %>
    <%= text_area_tag :body %>
    <%= submit_tag "Post", class:"button radius" %>
    <% end %>
  </div>
</div>
<% end %>
<script>
  var app = app||{};

  app.addBtn = document.getElementById("addBtn");
  app.user_id = <%= current_user.id %>;
  app.relative_id = <%= @user.id %>;

  <% if current_user.is_relative? @user %>
  app.addBtn.classList.add("alert");
  app.addBtn.innerHTML = "Remove with Javascript";
  app.addBtn.onclick = function(){ app.removeFriend(); };
  <% else %>
  app.addBtn.onclick = function(){ app.addFriend(); }
  <% end %>

  app.addFriend = function(){
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function(){
      if (xmlhttp.status == 200 && xmlhttp.readyState == 4){
        document.getElementById("addBtn").classList.add("alert");
        document.getElementById("addBtn").innerHTML = "Remove with Javascript";
        document.getElementById("addBtn").onclick = app.removeFriend;       
      };
    };
    xmlhttp.open("POST","/friendships?user_id=" + app.user_id + "&relative_id=" + app.relative_id, true);
    xmlhttp.send();
  };

  app.removeFriend = function(){
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function(){
      if (xmlhttp.status == 200 && xmlhttp.readyState == 4){
        document.getElementById("addBtn").classList.remove("alert");
        document.getElementById("addBtn").innerHTML = "Add with Javascript";
        document.getElementById("addBtn").onclick = app.addFriend; 
      };
    };
    xmlhttp.open("DELETE","/friendships?user_id=" + app.user_id + "&relative_id=" + app.relative_id, true);
    xmlhttp.send();
  };
</script>
